//Copyright (C)2014-2020 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: V1.9.6.02Beta
//Part Number: GW1NR-LV9QN88PC6/I5
//Created Time: Fri 01 07 19:29:56 2022

//// CLK & PUSH SW ////
IO_LOC "XTAL_IN" 52;
IO_PORT "XTAL_IN" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "ARST_N" 4;
IO_PORT "ARST_N" PULL_MODE=NONE IO_TYPE=LVCMOS18;
IO_LOC "PSW" 3;
IO_PORT "PSW" PULL_MODE=NONE IO_TYPE=LVCMOS18;

//// AE-FT234X ////
IO_LOC "UART_RX" 30;
IO_PORT "UART_RX" IO_TYPE=LVCMOS33;
IO_LOC "UART_TX" 33;
IO_PORT "UART_TX" IO_TYPE=LVCMOS33;

//// LED array for dynamic driving ////
IO_LOC "MATRIX_COL_SEG7_ELEM[0]" 56;
IO_LOC "MATRIX_COL_SEG7_ELEM[1]" 57;
IO_LOC "MATRIX_COL_SEG7_ELEM[2]" 68;
IO_LOC "MATRIX_COL_SEG7_ELEM[3]" 69;
IO_LOC "MATRIX_COL_SEG7_ELEM[4]" 32;
IO_LOC "MATRIX_COL_SEG7_ELEM[5]" 31;
IO_LOC "MATRIX_COL_SEG7_ELEM[6]" 49;
IO_LOC "MATRIX_COL_SEG7_ELEM[7]" 48;
IO_PORT "MATRIX_COL_SEG7_ELEM[0]" IO_TYPE=LVCMOS33;
IO_PORT "MATRIX_COL_SEG7_ELEM[1]" IO_TYPE=LVCMOS33;
IO_PORT "MATRIX_COL_SEG7_ELEM[2]" IO_TYPE=LVCMOS33;
IO_PORT "MATRIX_COL_SEG7_ELEM[3]" IO_TYPE=LVCMOS33;
IO_PORT "MATRIX_COL_SEG7_ELEM[4]" IO_TYPE=LVCMOS33;
IO_PORT "MATRIX_COL_SEG7_ELEM[5]" IO_TYPE=LVCMOS33;
IO_PORT "MATRIX_COL_SEG7_ELEM[6]" IO_TYPE=LVCMOS33;
IO_PORT "MATRIX_COL_SEG7_ELEM[7]" IO_TYPE=LVCMOS33;

IO_LOC "MATRIX_ROW[0]" 34; // ROW1
IO_LOC "MATRIX_ROW[1]" 35; // ROW2
IO_LOC "MATRIX_ROW[2]" 41; // ROW3
IO_LOC "MATRIX_ROW[3]" 42; // ROW4
IO_LOC "MATRIX_ROW[4]" 51; // ROW5
IO_LOC "MATRIX_ROW[5]" 53; // ROW6
IO_LOC "MATRIX_ROW[6]" 54; // ROW7
IO_LOC "MATRIX_ROW[7]" 55; // ROW8
IO_LOC "SEG7_CA" 40;       // 7SEG Common Anode
IO_PORT "MATRIX_ROW[0]" IO_TYPE=LVCMOS33;
IO_PORT "MATRIX_ROW[1]" IO_TYPE=LVCMOS33;
IO_PORT "MATRIX_ROW[2]" IO_TYPE=LVCMOS33;
IO_PORT "MATRIX_ROW[3]" IO_TYPE=LVCMOS33;
IO_PORT "MATRIX_ROW[4]" IO_TYPE=LVCMOS33;
IO_PORT "MATRIX_ROW[5]" IO_TYPE=LVCMOS33;
IO_PORT "MATRIX_ROW[6]" IO_TYPE=LVCMOS33;
IO_PORT "MATRIX_ROW[7]" IO_TYPE=LVCMOS33;
IO_PORT "SEG7_CA" IO_TYPE=LVCMOS33;

//// 8x in-line dip switch
IO_LOC "DIPSW[0]" 79; // pin 1
IO_LOC "DIPSW[1]" 80; // pin 2
IO_LOC "DIPSW[2]" 81; // pin 3
IO_LOC "DIPSW[3]" 82; // pin 4
IO_LOC "DIPSW[4]" 83; // pin 5
IO_LOC "DIPSW[5]" 84; // pin 6
IO_LOC "DIPSW[6]" 85; // pin 7
IO_LOC "DIPSW[7]" 86; // pin 8
IO_PORT "DIPSW[0]" IO_TYPE=LVCMOS18;
IO_PORT "DIPSW[1]" IO_TYPE=LVCMOS18;
IO_PORT "DIPSW[2]" IO_TYPE=LVCMOS18;
IO_PORT "DIPSW[3]" IO_TYPE=LVCMOS18;
IO_PORT "DIPSW[4]" IO_TYPE=LVCMOS18;
IO_PORT "DIPSW[5]" IO_TYPE=LVCMOS18;
IO_PORT "DIPSW[6]" IO_TYPE=LVCMOS18;
IO_PORT "DIPSW[7]" IO_TYPE=LVCMOS18;

//// HD44780 compatible character LCD ////
IO_LOC "CHARLCD_DB[0]" 70; // DB4
IO_LOC "CHARLCD_DB[1]" 71; // DB5
IO_LOC "CHARLCD_DB[2]" 72; // DB6
IO_LOC "CHARLCD_DB[3]" 73; // DB7
IO_LOC "CHARLCD_E" 76;     // E pin
IO_LOC "CHARLCD_RW" 75;    // RW pin
IO_LOC "CHARLCD_RS" 74;    // RS pin
IO_PORT "CHARLCD_DB[0]" IO_TYPE=LVCMOS33;
IO_PORT "CHARLCD_DB[1]" IO_TYPE=LVCMOS33;
IO_PORT "CHARLCD_DB[2]" IO_TYPE=LVCMOS33;
IO_PORT "CHARLCD_DB[3]" IO_TYPE=LVCMOS33;
IO_PORT "CHARLCD_E" IO_TYPE=LVCMOS33;
IO_PORT "CHARLCD_RW" IO_TYPE=LVCMOS33;
IO_PORT "CHARLCD_RS" IO_TYPE=LVCMOS33;

//// On-board LED ////
IO_LOC "LED[5]" 16;
IO_PORT "LED[5]" IO_TYPE=LVCMOS18;
IO_LOC "LED[4]" 15;
IO_PORT "LED[4]" IO_TYPE=LVCMOS18;
IO_LOC "LED[3]" 14;
IO_PORT "LED[3]" IO_TYPE=LVCMOS18;
IO_LOC "LED[2]" 13;
IO_PORT "LED[2]" IO_TYPE=LVCMOS18;
IO_LOC "LED[1]" 11;
IO_PORT "LED[1]" IO_TYPE=LVCMOS18;
IO_LOC "LED[0]" 10;
IO_PORT "LED[0]" IO_TYPE=LVCMOS18;

//// Pin Header ////
//IO_LOC "GPIO_25_3V3" 25;
//IO_PORT "GPIO_25_3V3" IO_TYPE=LVCMOS33;
//IO_LOC "GPIO_26_3V3" 26;
//IO_PORT "GPIO_26_3V3" IO_TYPE=LVCMOS33;
//IO_LOC "GPIO_27_3V3" 27;
//IO_PORT "GPIO_27_3V3" IO_TYPE=LVCMOS33;
//IO_LOC "GPIO_28_3V3" 28;
//IO_PORT "GPIO_28_3V3" IO_TYPE=LVCMOS33;
//IO_LOC "GPIO_29_3V3" 29;
//IO_PORT "GPIO_29_3V3" IO_TYPE=LVCMOS33;
//IO_LOC "GPIO_63_3V3" 63;
//IO_PORT "GPIO_63_3V3" IO_TYPE=LVCMOS33;
//IO_LOC "GPIO_77_3V3" 77;
//IO_PORT "GPIO_77_3V3" IO_TYPE=LVCMOS33;

//// On-board SPI FLASH ////
//IO_LOC "flash_csb" 60;
//IO_PORT "flash_csb" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
//IO_LOC "flash_clk" 59;
//IO_PORT "flash_clk" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
//IO_LOC "flash_miso" 62;
//IO_PORT "flash_miso" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
//IO_LOC "flash_mosi" 61;
//IO_PORT "flash_mosi" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;

//// TF CARD & GPIO ////
//IO_LOC "GPIO_39_3V3" 39;
//IO_LOC "TF_MISO" 39;
//IO_PORT "GPIO_39_3V3" IO_TYPE=LVCMOS33;
//IO_PORT "TF_MISO" IO_TYPE=LVCMOS33;
//IO_LOC "GPIO_38_3V3" 38;
//IO_LOC "TF_CS" 38;
//IO_PORT "GPIO_38_3V3" IO_TYPE=LVCMOS33;
//IO_PORT "TF_CS" IO_TYPE=LVCMOS33;
//IO_LOC "GPIO_37_3V3" 37;
//IO_LOC "TF_MOSI" 37;
//IO_PORT "GPIO_37_3V3" IO_TYPE=LVCMOS33;
//IO_PORT "TF_MOSI" IO_TYPE=LVCMOS33;
//IO_LOC "GPIO_36_3V3" 36;
//IO_LOC "TF_SCLK" 36;
//IO_PORT "GPIO_36_3V3" IO_TYPE=LVCMOS33;
//IO_PORT "TF_SCLK" IO_TYPE=LVCMOS33;

